/* =========================
   BLOG PAGINA PRINCIPAL
========================= */
.blog__resumen {
  text-align: center;
}

.blog__subtitulo {
  color: var(--color-texto);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.blog__post {
  background-color: var(--color-blanco);
  border: 1.5px solid var(--color-gris-suave);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog__post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.blog__imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.blog__post h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--color-texto);
  font-family: var(--fuente-titulos);
  line-height: 1.3;
}

.blog__post p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--color-texto);
  margin-bottom: 15px;
  text-align: center;
}

.blog__post .btn {
  margin-top: 20px;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* =========================
   Articulos de blog hero,textos , imagenes.
========================= */
.hero--articulo .hero__contenedor {
  justify-content: center;
}

.hero.hero--articulo {
  height: 60vh;
}

.pagina-blog-articulo .articulo__imagen {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
