/* =========================
   CONTACTO DEL REY
========================= */
.contacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  max-width: 1100px;
  background-color: var(--color-fondo);
  border-radius: 18px;
  margin: 0 auto;
  align-items: center;
}

.contacto__columna {
  flex: 1;
}

.contacto__texto h2 {
  margin-bottom: 50px;
}

.contacto__texto h2 span {
  color: #FF7A1A;
}

.contacto__form fieldset {
  border: none;
  padding: 0;
}

.contacto__form legend {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--color-texto);
  font-size: 20px;
  text-align: center;
}

.contacto__campo {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto__campo label {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 4px;
  font-weight: 600;
  color: var(--color-texto);
  text-align: center;
  margin-left: 0;
}

.contacto__campo input,
.contacto__campo textarea {
  width: 60%;
  padding: 10px 10px;
  margin-left: 0;
  border-radius: 10px;
  border: 1px solid #C3D7D2;
  font-family: inherit;
  font-size: 0.95rem;
  background-color: #ffffff;
  text-align: center;
}

.contacto__campo input:focus,
.contacto__campo textarea:focus {
  outline: none;
  border-color: #1F6D63;
  box-shadow: 0 0 0 2px rgba(31, 109, 99, 0.15);
}

.btn--margen {
  margin: 20px auto 0;
  display: block;
}

.contacto__imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.contacto__imagen img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
}
